<nav>
  <div class="header">
    <h2 id="logo">Join In</h2>
    <a href="" id="profile-icon">
      <i class="fas fa-user-circle icon"></i>
      <div id="dropdown-menu" class="hidden">
        <a href="/profile">
          <p>Profile</p>
        </a>
        {{#if logged_in}}
        <a href="/logout">
          <p>Log out</p>
        </a>
        {{else}}
        <a href="/login">
          <p>Log in</p>
        </a>
        {{/if}}
      </div>
    </a>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/header.js"></script>