<div class="flex-container">
        <img class="pic" src="/assets/susan-wilkinson-xxsPx6dwmmc-unsplash.jpg">
        <div class="login">
            <h1>Join In</h1>
            <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="username-login" aria-describedby="emailHelp" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-custom">Log in</button>
                <h4 id="create-account">Don't have an account? <a href="/signup">Sign up</a></h4>
              </form>
        </div>
    </div>