{{> header}}
<div class="main">
<div class="profile-header">
    <i class="fas fa-user profile-pic"></i>
    <h3 class="username">Username</h3>
</div>
  <div class="profile-feed feed">
    {{!-- {{#each challenges as |challenge|}} --}}
    <div class="post">
      <div class="challenge-header">
        <!--Username-->
        <h1 class="post-username">kbrianne</h1>
        <!--Challenge title and date-->
        <h1 class="challenge-desc light-text">Daily Algorithm &#183; 01/22/2022</h1>
      </div>
        <!--Content-->
        <p class="challenge-desc">Algorithm solution goes here</p>
    </div>
    {{!-- {{/each}} --}}
  </div>
</div>

</div>
