<div class="flex-container">
  <img class="pic" src="/assets/vincent-camacho-w2KG8YFf2IM-unsplash.jpg" />
  <div class="login">
    <h1>Join In</h1>
    <form id="submit123">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="username-login"
          aria-describedby="emailHelp"
          placeholder="Username"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="password-login"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-custom large">Sign up</button>
      <h4 id="create-account">Already have an account?
        <a href="/login">Log in</a></h4>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>